<div class="posts-wrap">
  <%= link_to :back, class:"nolink" do %>
    <span class="glyphicon glyphicon-arrow-left"></span>
  <% end %>
  <br>
  <br>
  <div class="post">
    <div class="post-head">
      <div class="thumb-img"></div>
      <div class="user-name">
        <%= link_to @post.user.user_name, profile_path(@post.user.user_name), class:"nolink" %>
      </div>
      <div class="time-ago">
  <%= time_ago_in_words @post.created_at %> ago
</div>
    </div>
    <div class="image center-block">
      <%= image_tag @post.image.url(:medium), class:'img-responsive'%>
    </div>
    <div class="post-bottom">
      <%= render 'posts/likes', post: @post %>
      <div class="caption">
      <% if @post.user_id == current_user.id %>
      <br>
        <%= "#{@post.impressionist_count(:filter=>:ip_address)} views so far!" %>
      <% end %>
      <br><br>
      <div class="caption-content">
        <div class="user-name">
          <%= link_to @post.user.user_name, profile_path(@post.user.user_name), class:"nolink" %>
        </div>
        <%= render_with_hashtags(@post.caption) %>
      </div>
      <% if @post.mp3.exists? %>
      <div id="waveform">
      </div>
      <% end %>
      <div class="comments" id="comments_<%= @post.id %>">
      <% if @post.comments.any? %>
        <div class="paginator" id="#comments-paginator-<%= @post.id %>">
          <% unless @post.comments.count <= 4 %>
            <%= link_to "view all #{@post.comments.count} comments", post_comments_path(@post), remote: true, class: 'more-comments', data: {post_id: "#{@post.id}", type: "html"} %>
            <% end %>
          </div>
          <%= render @post.comments.last(4), post: @post %>
      <% end %>
    </div>
    </div>
    </div>
    <div class="comment-like-form-c row">
      <div class="col-sm-2 like-button row">
      <%= liked_post @post %>
    </div>
      <div class="row comment-form col-sm-11 row">
      <br>
        <%= form_for([@post, @post.comments.build], remote: true) do |f| %>
          <%= f.text_field :content, placeholder: 'Add a comment...', class: "comment_content", id: "comment_content_#{@post.id}", :style => "background: none;
  border: none;" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  var wavesurfer = WaveSurfer.create({
    container: '#waveform',
    waveColor: 'black',
    progressColor: 'red',
    barWidth: '1'
});

  wavesurfer.load("<%= @post.mp3.url %>");
  wavesurfer.on('ready', wavesurfer.play.bind(wavesurfer));
</script>

